@model SifreKasasi.API.Models.Site

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
